# **Tutorial Kelas Terbuka Test**

Kode dan Testing dari playlist video Tutorial Python Dasar dari Kelas Terbuka

## Variabel

Buatlah sebuah program python dimana user harus memberikan input nama dan umur lalu output program yaitu selamat datang <nama_user> Umur anda sekarang adalah <umur_user>

In [ ]:
nama_user = input("Masukkan nama user: ")
umur_user = input("Masukkan umur user: ")

print("Selamat datang", nama_user, "Umur anda sekarang adalah", umur_user, "tahun")

Selamat datang Arsya Umur anda sekarang adalah 18 tahun

## Aritmatika

Buatlah program kalkulator sederhana untuk pertambahan 3 buah bilangan yang diinput oleh user contohnya:
input a=1
input b =2
input c=3
lalu mengeluarkan output

In [1]:
a = input("Masukkan nilai a: ")
b = input("Masukkan nilai b: ")
c = input("Masukkan nilai c: ")

print("nilai a + b + C = ", a + b + c)

nilai a + b + C =  343

Buatlah program konversi temperatur dengan input celcius

In [4]:
celcius = float(input("Masukkan suhu dalam celcius: "))

reamur = (4/5) * celcius

fahrenhait = ((9/5) * celcius) + 32

kelvin =  celcius + 273


print("Suhu dalam celcius adalah", celcius, "C")
print("Suhu dalam reamur adalah", reamur, "R")
print("Suhu dalam fahrenhait adalah", fahrenhait, "F")
print("Suhu dalam kelvin adalah", kelvin, "K")

Suhu dalam celcius adalah 32.0 C
Suhu dalam reamur adalah 25.6 R
Suhu dalam fahrenhait adalah 89.6 F
Suhu dalam kelvin adalah 305.0 K

Buatlah program sederhana untuk mengkonversi fahrenheit ke kelvin

In [5]:
fahrenhait = float(input("Masukkan suhu dalam fahrenhait: "))

kelvin = (5/9) * (fahrenhait - 32) + 273

print("Suhu dalam fahrenhait adalah", fahrenhait, "F")
print("Suhu dalam kelvin adalah", kelvin, "K")

Suhu dalam fahrenhait adalah 40.0 F
Suhu dalam kelvin adalah 277.44444444444446 K

Buatlah program sederhana untuk mengkonversi kelvin ke fahrenheit

In [6]:
kelvin = float(input("Masukkan suhu dalam kelvin: "))

fahrenhait = (9/5) * (kelvin - 273) + 32

print("Suhu dalam kelvin adalah", kelvin, "K")
print("Suhu dalam fahrenhait adalah", fahrenhait, "F")

Suhu dalam kelvin adalah 70.0 K
Suhu dalam fahrenhait adalah -333.40000000000003 F

## Komparasi

Macam-macam operator komparasi di python:

```
">, <, >=, <=, ==, !=, is, is not"
```

Setiap operator komparasi akan menghasilkan nilai boolean

In [8]:
x = 3
y = 2
z = 2

hasil= x>y
print("3 > 2 = ", hasil)

hasil= x<y
print("3 < 2 = ", hasil)

hasil= x>=y
print("3 >= 2 = ", hasil)

hasil= x<=y
print("3 <= 2 = ", hasil)

hasil= x==y
print("2 == 2 = ", hasil)

hasil= y==z
print("2 == 2 = ", hasil)

hasil= x!=y
print("3 != 2 = ", hasil)

3 > 2 =  True
3 < 2 =  False
3 >= 2 =  True
3 <= 2 =  False
2 == 2 =  False
2 == 2 =  True
3 != 2 =  True

Operator komparasi **"is"** dan **"is not"** digunakan untuk membandingkan identity dari suatu object

In [10]:
x = 4
y = 4

print('nilai x =', x, ', id = ', hex(id(x)))
print('nilai y =', y, ', id = ', hex(id(y)))
print(hex(id(x)), 'adalah memory address dari x dan y')

hasil = x is y
print('x is y =', hasil)

nilai x = 4 , id =  0x7f6b2da08150
nilai y = 4 , id =  0x7f6b2da08150
0x7f6b2da08150 adalah memory address dari x dan y
x is y = True

In [11]:
x = 5
y = 4

print('nilai x =', x, ', id = ', hex(id(x)))
print('nilai y =', y, ', id = ', hex(id(y)))

hasil = x is not y
print('x is not y =', hasil)

nilai x = 5 , id =  0x7f6b2da08170
nilai y = 4 , id =  0x7f6b2da08150
x is not y = True

## Logika

Macam-macam operator logika di python:

```
"and, or, not, xor"
```

* Operator logika **"and"** akan menghasilkan nilai **True** jika semua nilai yang dibandingkan bernilai **True**

* Operator logika **"or"** akan menghasilkan nilai **True** jika salah satu nilai yang dibandingkan bernilai **True**

---

* Operator logika **"not"** akan menghasilkan nilai **True** jika nilai yang dibandingkan bernilai **False**

* Operator logika **"xor"** akan menghasilkan nilai **True** jika salah satu nilai yang dibandingkan bernilai **True** dan salah satu nilai yang dibandingkan bernilai **False**

In [14]:
# AND

a = False
b = False
c = a and b
print(a, 'AND', b, '=', c)

a = False
b = True
c = a and b
print(a, 'AND', b, '=', c)

a = True
b = False
c = a and b
print(a, 'AND', b, '=', c)

a = True
b = True
c = a and b
print(a, 'AND', b, '=', c)

False AND False = False
False AND True = False
True AND False = False
True AND True = True

In [15]:
# OR

a = False
b = False
c = a or b
print(a, 'OR', b, '=', c)

a = False
b = True
c = a or b
print(a, 'OR', b, '=', c)

a = True
b = False
c = a or b
print(a, 'OR', b, '=', c)

a = True
b = True
c = a or b
print(a, 'OR', b, '=', c)

False OR False = False
False OR True = True
True OR False = True
True OR True = True

In [16]:
# NOT

a = True
c = not a
print('NOT', a, '=', c)

a = False
c = not a
print('NOT', a, '=', c)

NOT True = False
NOT False = True

In [17]:
# XOR

a = False
b = False
c = a ^ b
print(a, 'XOR', b, '=', c)

a = False
b = True
c = a ^ b
print(a, 'XOR', b, '=', c)

a = True
b = False
c = a ^ b
print(a, 'XOR', b, '=', c)

a = True
b = True
c = a ^ b
print(a, 'XOR', b, '=', c)

False XOR False = False
False XOR True = True
True XOR False = True
True XOR True = False

## Latihan Logika dan Komparasi

Buat program dengan inputan angka yang mengeluarkan nilai True jika angka tersebut merupakan **0 < x < 5 dan 8 < x < 11**

In [25]:
input_user = float(input("Masukkan angka: "))

hasil = (input_user > 0) and (input_user < 5) or (input_user > 8) and (input_user < 11)

print("Angka yang anda masukkan adalah", input_user, "sehingga", hasil)

Angka yang anda masukkan adalah 1.0 sehingga True

Buat program dengan inputan angka yang mengeluarkan nilai True jika angka tersebut merupakan x < 0 dan 5 < x < 8 dan  11 < x

In [30]:
input_user = float(input("Masukkan angka: "))

hasil = (input_user < 0) or (input_user > 5) and (input_user < 8) or (input_user > 11)

print("Angka yang anda masukkan adalah", input_user, "sehingga", hasil)

Angka yang anda masukkan adalah -7.0 sehingga True

## Assignment

Macam-macam operator assignment di python:

```
"=, +=, -=, *=, /=, %=, **=, //=, &=, |=, ^=, >>=, <<="
```

Operator assignment digunakan untuk menyederhanakan operasi aritmatika

- Operator assignment **"="** digunakan untuk menyimpan nilai

- Operator assignment **"+="** digunakan untuk menjumlahkan nilai

- Operator assignment **"-="** digunakan untuk mengurangi nilai

- Operator assignment **"*="** digunakan untuk mengalikan nilai

- Operator assignment **"/="** digunakan untuk membagi nilai

- Operator assignment **"%="** digunakan untuk mengambil sisa bagi

- Operator assignment **"**="** digunakan untuk memangkatkan nilai

- Operator assignment **"//="** digunakan untuk membagi lalu dibulatkan kebawah

- Operator assignment **"&="** digunakan untuk operasi bitwise AND

- Operator assignment **"|="** digunakan untuk operasi bitwise OR

- Operator assignment **"^="** digunakan untuk operasi bitwise XOR

- Operator assignment **">>="** digunakan untuk operasi bitwise right shift

- Operator assignment **"<<="** digunakan untuk operasi bitwise left shift

In [6]:
x = 5
print('nilai x =', x)

x = x + 1
print('nilai x + 1 =', x)

nilai x = 5
nilai x + 1 = 6

In [7]:
x = 5
print('nilai x =', x)

x += 1
print('nilai x += 1 =', x)

nilai x = 5
nilai x += 1 = 6

## String

### Tipe-tipe String

String adalah tipe data yang berisi kumpulan karakter unicode. String di python diapit oleh tanda petik.

```
Contoh: 'Hello World', "Hello World", """Hello World""", '''Hello World'''
```

String di python bersifat immutable, artinya tidak dapat diubah setelah dideklarasikan

In [2]:
print('mari sholat jum\'at')

mari sholat jum'at

In [3]:
print("C:\User\Ucup")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (740601969.py, line 1)

Akan error karena \ adalah karakter escape, yang artinya karakter selanjutnya akan dianggap sebagai karakter khusus.

Untuk mengatasi error tersebut, kita dapat menggunakan raw string dengan menambahkan huruf **r** sebelum string

In [7]:
print(r"C:\User\Ucup")
#or
print("C:\\User\\Ucup")

C:\User\Ucup
C:\User\Ucup

\n digunakan untuk membuat baris baru

In [10]:
print("Ucup berkata \"kemaren kemana bro?\" \nUdin menjawab \"kemaren bobo bro\"")

Ucup berkata "kemaren kemana bro?"
Udin menjawab "kemaren bobo bro"

Multiline String adalah string yang ditulis dalam beberapa baris seperti comment

In [14]:
print(
    """ 
    Ucup berkata "kemaren kemana bro?", 
    kemudian udin menjawab "kemaren bobo bro".
    ah lu mah tidur mulu din!
    """)

    Ucup berkata "kemaren kemana bro?",
    kemudian udin menjawab "kemaren bobo bro".
    ah lu mah tidur mulu din!

### Operator, Method, dan Format String

#### Operator String

Macam-macam operator string di python:

```
"+, *, [], [:], in, not in"
```

1. operator **"+"** digunakan untuk menggabungkan string

In [15]:
first_name = "Ucup"
middle_name = "D"
last_name = "Fame"

name = first_name + " " + middle_name + " " + last_name

print(name)

Ucup D Fame

2. operator **"*"** digunakan untuk mengulang string

In [16]:
name*3

'Ucup D FameUcup D FameUcup D Fame'

3. operator **"[]"** dan **[:]** digunakan untuk mengakses karakter dalam string berdasarkan index

In [17]:
print(name[0])

print(name[1:4])

print(name[3:])

print(name[:4])

U
cup
p D Fame
Ucup

4. operator **"in"** dan **"not in"** digunakan untuk mengecek apakah suatu string berisi karakter/kata tertentu

In [21]:
d = "d"

name = "Ucup D. Fame"

status = d in name

print(d, "ada di", name, "=", str(status))

d ada di Ucup D. Fame = False

1. False karena python bersifat case sensitive dan D huruf kapital sedangkan d adalah huruf kecil
2. str() digunakan untuk mengubah tipe data lain ke string

In [22]:
d = "D"

name = "Ucup D. Fame"

status = d in name

print(d, "ada di", name, "=", str(status))

D ada di Ucup D. Fame = True

#### Method String

Macam-macam method string di python:

```
len(), str(), upper(), lower(), strip(), replace(), split(), join(), count(), ljust(), rjust(), center(), zfill(), isX(), startswith(), endswith(), find(), rfind(), index(), rindex(), capitalize(), title(), swapcase(), format(), isalnum(), isalpha(), isdecimal(), isdigit(), isidentifier(), islower(), isnumeric(), isprintable(), isspace(), istitle(), isupper(), encode(), maketrans(), translate(), expandtabs()
```

Merubah String ke Upper Case menggunakan method **upper()** dan merubah String ke Lower Case menggunakan method **lower()**

In [25]:
# Merubah lowercase ke uppercase
salam = "bro!"
print("Normal: ", salam)

salam = salam.upper()
print("Upper: ", salam)

# Merubah uppercase ke lowercase
alay = "aKu KeCe AbieZZZ"
print("Normal: ", alay)

alay = alay.lower()
print("Lower: ", alay)

Normal:  bro!
Upper:  BRO!
Normal:  aKu KeCe AbieZZZ
Lower:  aku kece abiezzz

Mengecek apakah string merupakan Upper Case atau Lower Case menggunakan method **isupper()** dan **islower()**

In [35]:
salam = "bro!"
print(salam, "\n")
print("lowercase? = ", str(salam.islower())) # hasilnya boolean sehingga harus diubah ke string menggunakan str()
print("uppercase? = ", str(salam.isupper()), "\n")


salam = "BRO!"
print(salam, "\n")
print("lowercase? = ", str(salam.islower())) # hasilnya boolean sehingga harus diubah ke string menggunakan str()
print("uppercase? = ", str(salam.isupper()))

bro!

lowercase? =  True
uppercase? =  False

BRO!

lowercase? =  False
uppercase? =  True

#### Format String

format string adalah cara untuk melakukan operasi formatting pada string dengan menggunakan **{ }** sebagai placeholder

```
Contoh: f"Hello {0} {1}, selamat datang di {2}".format("Budi", "Susanto", "Kelas Terbuka")
```

In [3]:
nama_user = input("Masukkan nama user: ")
umur_user = input("Masukkan umur user: ")

format_str = f"halo {nama_user}, umur kamu {umur_user} tahun"

print(format_str)

halo Ucup, umur kamu 14 tahun

**{:,}** digunakan untuk menambahkan pemisah ribuan

In [5]:
angka = 4000000

harga_motor = f"harga motor ini {angka:,}"

print (harga_motor)

harga motor ini 4,000,000

**{:%}** digunakan untuk menambahkan persentase

In [6]:
persen = 0.045

print(f"PPN = {persen:.2%}")

PPN = 4.50%

Format lain yang dapat digunakan pada format string:
    
    ```
    {:d} untuk integer
    {:f} untuk float
    {:.2f} untuk float dengan 2 angka di belakang koma
    {:.2%} untuk persentase dengan 2 angka di belakang koma
    {:,} untuk pemisah ribuan
    ```

selain yang disebutkan diatas, operasi formatting lainnya dapat dilihat di [https://docs.python.org/3/library/string.html](https://docs.python.org/3/library/string.html)

Multiline String adalah string yang ditulis dalam beberapa baris seperti comment